body {
  background: rgb(25 33 41);

  color: #fafafa;

  margin: 0 auto;
  font-family: Times New Roman;

  font-style: bold;
  padding: 0;
  padding-top: 100px;
  width: 100px;
}

#form-container {
  margin: 0 auto;
  width: 250px;
  border: 3px solid #43a3e6;
  padding: 25px;
}
