body{
    position: relative;
    animation-name: wutang;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
.anim{
    width: 100px;
    height: 100px;
    background-color: aqua;
    left: 0px;
    top: 0px;
}
@keyframes wutang{
    0% {
        width: 100px;
        height: 100px;
        background-color: aqua;
        left: 0px;
        top: 0px; 
    }
    25%,75%{
        width: 200px;
        height: 200px;
        background-color: #0bec5e;
        left: 0px;
        top: 0px;
    }
    50%,100%{
        width: 20px;
        height: 20px;
        background-color: #f7ef11;
        left: 0px;
        top: 0px;
    }
}
