#img-title{
    background-image: url(../images/apple-pie.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;

    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position:absolute;
    font-weight: 400;
    font-size: 3res;
}
body{
    font-family:
}
#ingredients ul {
    list-style-type: "-";
    margin: 0 0 1rem 1rem;
}