html,
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto+Condensed:wght@700&family=Roboto:wght@100;300;700&display=swap');
body{
    margin:0;
    padding:0;
    font-family: Roboto;
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
    background-color: blue;
}

