@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

body {
  background-color: rgb(25, 33, 41);
  font-size: 15px;
  padding: 0;
  margin: 0;
  padding-top: 100px;
  width: 100%;
  font-weight: 600;
}

.cuadroFormulario {
  margin-left: 38%;
  margin-right: 38%;
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(67, 163, 230);
  border-width: 2px;
  color: #fafafa;
}

#formulario {
  padding: 10%;
}

input {
  border-color: rgb(67, 163, 230);
  border-width: 1px;
  border-radius: 2px;
  width: 90%;
  height: 20px;
}

textarea {
  border-color: rgb(67, 163, 230);
  border-width: 1px;
  border-radius: 2px;
  width: 90%;
}
.emailFrase {
  font-style: italic;
}
button {
  margin-top: 5%;
  background: #43a3e6;
  border: none;
  border-radius: 10px;
  color: #fafafa;
  font-weight: 100;
  height: 30px;
}
#cajita {
  width: 15px;
  height: 15px;
}
